[Unit]
Description=Babel Daemon
# Ensure network is started before starting daemon (but not require online status)
After=syslog.target network.target

[Service]
# Debug logging for now
Environment="RUST_LOG=debug"
# TODO: We need to run things as a special system user.
# User=blockvisor
ExecStart=/usr/bin/babelsup
TimeoutStopSec=15
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
