[Unit]
Description=Babel's private D-Bus Bus
DefaultDependencies=false
Before=basic.target shutdown.target
Conflicts=shutdown.target
Requires=babel-bus.socket

[Service]
ExecStart=/usr/bin/dbus-daemon --config-file /etc/babel-bus.conf --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only
ExecReload=/usr/bin/busctl call --address='unix:path=/var/lib/blockvisor/vsock.socket_42' org.freedesktop.DBus / org.freedesktop.DBus ReloadConfig
# It'd be best to use dbus-broker but at the moment latest CentOS LTS doesn't ship it by default and 
# the version available from EPEL fails to launch for some mysterial reason:
#
#ExecStart=/usr/bin/dbus-broker-launch --scope system --config-file /etc/babel-bus.conf
#ExecReload=/usr/bin/busctl call --address='unix:path=/var/lib/blockvisor/vsock.socket_42' org.freedesktop.DBus /org/freedesktop/DBus org.freedesktop.DBus ReloadConfig

Sockets=babel-bus.socket
OOMScoreAdjust=-900
ProtectSystem=full
