.u-o-10 {
    opacity: 0.1;
}

.u-o-20 {
    opacity: 0.2;
}

.u-o-30 {
    opacity: 0.3;
}

.u-o-40 {
    opacity: 0.4;
}

.u-o-50 {
    opacity: 0.5;
}

.u-o-60 {
    opacity: 0.6;
}

.u-o-70 {
    opacity: 0.7;
}

.u-o-80 {
    opacity: 0.8;
}

.u-o-90 {
    opacity: 0.9;
}
