.t-color-text-1 {
    color: theme(--color-text-1);
}

.t-color-text-2 {
    color: theme(--color-text-2);
}

.t-color-text-3 {
    color: theme(--color-text-3);
}

.t-color-text-4 {
    color: theme(--color-text-4);
}

.t-color-text-5 {
    color: theme(--color-text-5);
}

.t-color-primary {
    color: theme(--color-primary);
}

.t-color-secondary {
    color: theme(--color-secondary);
}
