.s-bottom--micro {
    margin-bottom: 4px;
}

.s-bottom--small {
    margin-bottom: 8px;
}

.s-bottom--medium-small {
    margin-bottom: 12px;
}

.s-bottom--medium {
    margin-bottom: 20px;
}

.s-bottom--large {
    margin-bottom: 40px;
}

.s-bottom--xlarge {
    margin-bottom: 60px;
}

.s-bottom--xxlarge {
    margin-bottom: 80px;
}

.s-bottom--xxxlarge {
    margin-bottom: 120px;
}

.s-bottom--huge {
    margin-bottom: 160px;
}
