.container {
    margin-left: auto;
    margin-right: auto;
}

.container--large {
    max-width: 1268px;
}

.container--medium-large {
    max-width: 944px;
}

.container--medium {
    max-width: 640px;
}

.container--small {
    max-width: 404px;
}

.container--pull-back {
    margin-left: -120px;
    margin-right: -120px;
    padding-left: 120px;
    padding-right: 120px;
}

.container--buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
