.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.display--to-medium-large {
    @media (--screen-medium-large) {
        display: none;
    }
}

.hide--from-medium-large {
    display: none;

    @media (--screen-medium-large) {
        display: initial;
    }
}
