# gitignore
/target

# Docker-specific
**/target
/.cargo
.direnv
.git
/flake.lock
## Meta
.dockerignore
Dockerfile*
docker-compose.yml
shared


**/.env*
**/.git
**/.gitignore
**/docker-compose.yml

Makefile
